@model OnlineShop.Web.ViewModels.Order.OrderDetailsViewModel

@{
    ViewData["Title"] = "Order Details";
}

<h1>Order Details for Order ID: @Model.CustomOrderNumber</h1>

<p>
    <strong>Order Date:</strong> @Model.OrderDate.ToString("d")<br />
    <strong>Total Amount:</strong> $ @Model.TotalAmount.ToString("F2")<br />
    <strong>Status:</strong> @(Model.IsCompleted ? "Completed" : "Pending")
</p>

<h2>Ordered Products</h2>
<table class="table">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Total Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var orderProduct in Model.OrderProducts)
        {
            <tr>
                <td>@orderProduct.Product.Name</td>
                <td>@orderProduct.Quantity</td>
                <td>@orderProduct.UnitPrice.ToString("C")</td>
                <td>@((orderProduct.UnitPrice * orderProduct.Quantity).ToString("C"))</td> <!-- Calculate total price -->
            </tr>
        }
    </tbody>
</table>

@if (!Model.IsCompleted)
{
    <form asp-controller="Payment" asp-action="Create" method="post">
        <input type="hidden" name="OrderId" value="@Model.OrderId" />
        <a asp-controller="Payment" asp-action="Create" asp-route-orderId="@Model.OrderId" class="btn btn-primary">Proceed to Payment <i class="fa-solid fa-credit-card"></i></a>
    </form>
}

<!-- Button to view transaction history -->
<a asp-controller="Order" asp-action="TransactionHistory" asp-route-id="@Model.OrderId" class="btn btn-info mt-3">View Transaction History <i class="fa-solid fa-clock-rotate-left"></i></a>

@if (TempData["PaymentSuccess"] != null)
{
    <script type="text/javascript">
        Swal.fire({
            title: 'Payment Successful!',
            text: 'Your payment was completed successfully.',
            icon: 'success',
            confirmButtonText: 'OK'
        });
    </script>
}

@if (TempData["PaymentCancelled"] != null)
{
    <script type="text/javascript">
        Swal.fire({
            title: 'Payment Cancelled!',
            text: 'Your payment has been cancelled.',
            icon: 'warning',
            confirmButtonText: 'OK'
        });
    </script>
}
